.DS_Store
.htaccess
.editorconfig
.ftp-deploy-sync-state.json
composer.json

application/cache/*
!application/cache/index.html

application/config/config.php
application/config/database.php
application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

/docs/
/html/
/system/
/assets/images
/assets/fontawesome-free-6.5.2-web
/assets/admin/*
assets/uploads/*
*.zip